html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Import de fontes do google */
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Noto+Sans+Display&family=Roboto:wght@100&display=swap');
/* 
font-family: 'Major Mono Display', monospace;
font-family: 'Noto Sans Display', sans-serif;
font-family: 'Roboto', sans-serif; */

/* Color Theme RGBA  SIAND*/
:root{ 
    --cinza: #A5A4A6;
    --verde:  #999C85;
    --rosa:  #E1B7AB; 
    --rose:  #F1DAD1; 
    --branco:  #FCFCFC; 
}

body {
    background-color: var(--branco);
    /* background-image: url('/Img/Símbolo/Marca\ D_água.png');
    background-repeat:no-repeat;
    background-size: 50%;
    background-position: center bottom; */
}

.conteudo {
    font-family: 'Roboto', sans-serif; 
    padding: 0;
    margin: 0;     
    background-image: url('/Img/Símbolo/Marca\ D_água.png');
    background-repeat:no-repeat;
    background-size: 50%;
    background-position: center;       
}
.menu {       
    font-family: 'Major Mono Display', monospace; 
    background-color: var(--branco);
    width: 100%;
    background-color: var(--rose);
}

.logo {   
    height: 120px;
    background-color: var(--branco);
}
/* 
.btn:hover {
    opacity: 0.8;
} */
.carrosel-banner{
    margin-top: 1%;
    margin-bottom: 5;
}

.box-banner{
    height: 100%;
    width: 100%;
    display: block;    
}