@media screen and (max-width:1000px) {
    header .container{
        display: flex;
        flex-direction: column;
        }    
    .botoes{
        margin-top: 5px;
        width: 200px;
        height: 60px;
    }
    .filme-principal .container {
        width: 90%;
     }

}
